In [2]:
import pandas
import matplotlib.pyplot as plt
import scipy.stats as stats
enade2017=pandas.read_csv("MICRODADOS_ENADE_2017.txt", sep=';',dtype={"DS_VT_ESC_OFG": str, 
                                                                               'DS_VT_ESC_OCE':str,
                                                                              'DS_VT_ACE_OCE':str,
                                                                              'NT_GER':str,
                                                                              'NT_FG':str,
                                                                              'NT_OBJ_FG':str,
                                                                              'NT_DIS_FG':str,
                                                                              'NT_CE':str,
                                                                              'NT_OBJ_CE':str,
                                                                              'NT_DIS_CE':str})
enade2017.shape

(537436, 150)

In [3]:
enade2017.dropna()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
41,2017,1,1,10028,2001,6,1,5103403,51,5,...,H,A,B,B,A,C,D,C,B,B
42,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,A,A,A,A,A,A
43,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,A,A,E,C,C,B,B
44,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,B,A,A,A,C,C,C,C
45,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,A,C,A,B,B,A,B
47,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,A,A,C,A,B,B,A,A
48,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,D,A,A,C,B,B
49,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,B,B,D,A,A,A,C,C
50,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,A,C,A,A,A,A,A
52,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,E,A,B,C,A,B,C,A,B
53,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,B,C,A,B,C,B,C
54,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,B,C,C,B,B,B,B
55,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,A,D,A,B,B,A,A
56,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,B,A,C,B,D,B
57,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,A,A,A,B,B,B,A
58,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,A,A,E,A,B,B,B,B
59,2017,1,1,10028,2001,6,1,5103403,51,5,...,B,A,A,B,C,A,B,B,B,B
60,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,B,A,C,A,C,C,A,A
61,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,A,C,E,C,D,C,B
62,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,A,C,A,B,B,A,B
63,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,B,A,C,C,D,A,B
64,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,D,A,B,B,A,A
65,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,D,B,A,C,D,B,B,B,B
66,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,A,A,B,A,B,B,A,A
67,2017,1,1,10028,2001,6,1,5103403,51,5,...,B,C,B,B,D,A,C,C,B,B
68,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,B,B,B,A,B,B,C,C
69,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,C,A,A,B,A,A,A
70,2017,1,1,10028,2001,6,1,5103403,51,5,...,A,A,B,B,B,A,B,C,C,C
71,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,B,C,A,A,A,A
72,2017,1,1,10028,2001,6,1,5103403,51,5,...,I,A,B,B,D,A,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534857,2017,666,2,10028,904,5001302,0,2910800,29,2,...,I,A,C,F,D,A,B,B,A,A
534858,2017,666,2,10028,904,5001302,0,2910800,29,2,...,A,A,C,F,E,A,C,B,A,A
534859,2017,666,2,10028,904,5001302,0,2910800,29,2,...,I,A,C,F,E,A,A,B,A,A
534860,2017,666,2,10028,904,5001302,0,2910800,29,2,...,I,A,A,C,C,A,A,A,A,A
534861,2017,666,2,10028,904,5001302,0,2910800,29,2,...,B,A,B,B,D,C,B,B,B,B
534862,2017,666,2,10028,904,5001302,0,2910800,29,2,...,C,D,B,C,A,A,B,C,A,A
534863,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,F,E,I,F,D,A,B,D,D
534864,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,B,A,A,B,F,A,B,A,B,A
534865,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,B,F,E,I,F,A,B,B,D,D
534866,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,D,B,C,C,A,A,B,B,B
534867,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,A,A,A,C,A,A,A,A,A
534868,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,A,D,A,C,A,B,B,A,A
534869,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,B,A,A,B,C,A,B,B,B,A
534870,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,B,D,A,C,C,B,B,A,A
534871,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,H,F,E,I,F,A,B,B,B,B
534872,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,F,E,I,F,A,A,A,D,D
534873,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,D,B,A,C,B,C,B,A,A
534874,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,A,A,A,C,B,A,A,A,B
534875,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,E,F,E,I,F,A,A,B,D,D
534876,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,F,E,I,F,A,A,A,A,A
534877,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,A,A,A,D,D,B,B,B,A
534878,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,B,A,E,I,F,A,B,B,B,B
534879,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,A,A,A,B,A,A,A,A,A
534880,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,D,F,E,I,F,B,B,C,B,B
534881,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,D,A,A,C,C,A,A,A,A
534882,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,I,F,E,I,F,A,C,D,D,D
534883,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,A,A,A,B,A,A,A,A,A
534884,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,D,A,A,B,C,A,B,B,B,D
534885,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,A,D,B,A,C,C,B,B,A,A
534886,2017,1446,4,10020,2001,5001328,0,5300108,53,5,...,E,F,E,I,F,E,B,B,B,D

In [4]:
tabela17 = pandas.DataFrame(enade2017, columns=['ANO_FIM_EM', 'ANO_IN_GRAD', 'NT_GER','QE_I02', 
                                               'QE_I05', 'QE_I06', 'QE_I08', 'QE_I17', 'QE_I20', 'QE_I25', 'CO_CATEGAD', 'CO_GRUPO',
                                               'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO'])
tabela17.head(10)

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,"52,6",A,F,A,B,B,H,H,1,5710,51,5,26,F
1,2013.0,2013.0,"63,1",D,D,C,B,A,K,C,1,5710,51,5,23,F
2,2011.0,2013.0,"33,7",D,F,B,F,B,A,E,1,5710,51,5,23,M
3,2011.0,2013.0,"58,1",A,D,D,B,A,C,E,1,5710,51,5,23,M
4,2010.0,2013.0,"46,3",A,F,B,F,B,G,A,1,5710,51,5,24,M
5,2011.0,2012.0,"64,2",F,B,B,C,A,G,C,1,5710,51,5,23,M
6,2012.0,2013.0,"41,4",D,D,B,C,A,H,D,1,5710,51,5,21,F
7,2011.0,2012.0,"48,8",D,E,B,C,B,G,D,1,5710,51,5,23,M
8,2011.0,2013.0,"52,9",F,F,B,E,A,G,C,1,5710,51,5,23,F
9,2011.0,2013.0,"62,7",D,D,B,C,B,H,E,1,5710,51,5,22,F

In [5]:
#LIMPEZA DE DADOS 
#substitui vírgula por ponto

tabela17['NT_GER'] = tabela17['NT_GER'].str.replace(',', '.')
tabela17=tabela17.loc[(tabela17['NT_GER'].notnull())]
tabela17['NT_GER'] = pandas.to_numeric(tabela17['NT_GER'])
tabela17.head()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,52.6,A,F,A,B,B,H,H,1,5710,51,5,26,F
1,2013.0,2013.0,63.1,D,D,C,B,A,K,C,1,5710,51,5,23,F
2,2011.0,2013.0,33.7,D,F,B,F,B,A,E,1,5710,51,5,23,M
3,2011.0,2013.0,58.1,A,D,D,B,A,C,E,1,5710,51,5,23,M
4,2010.0,2013.0,46.3,A,F,B,F,B,G,A,1,5710,51,5,24,M

Mapeando os dados

In [6]:
tabela17=tabela17.loc[(tabela17['TP_SEXO'].notnull())]

tabela17['TP_SEXO'] = tabela17['TP_SEXO'].map({'M': 1, 'F': 2})

tabela17.head()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,52.6,A,F,A,B,B,H,H,1,5710,51,5,26,2
1,2013.0,2013.0,63.1,D,D,C,B,A,K,C,1,5710,51,5,23,2
2,2011.0,2013.0,33.7,D,F,B,F,B,A,E,1,5710,51,5,23,1
3,2011.0,2013.0,58.1,A,D,D,B,A,C,E,1,5710,51,5,23,1
4,2010.0,2013.0,46.3,A,F,B,F,B,G,A,1,5710,51,5,24,1

In [7]:
tabela17=tabela17.loc[(tabela17['QE_I02'].notnull())]
tabela17=tabela17.loc[(tabela17['QE_I05'].notnull())]

tabela17['QE_I02'] = tabela17['QE_I02'].map({'A': 1, 'B': 2, 'C': 3, 'D' : 4, 'E' : 5, 'F' : 6})
tabela17['QE_I05'] = tabela17['QE_I05'].map({'A': 1, 'B': 2, 'C': 3, 'D' : 4, 'E' : 5, 'F' : 6})

tabela17.head()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,52.6,1,6,A,B,B,H,H,1,5710,51,5,26,2
1,2013.0,2013.0,63.1,4,4,C,B,A,K,C,1,5710,51,5,23,2
2,2011.0,2013.0,33.7,4,6,B,F,B,A,E,1,5710,51,5,23,1
3,2011.0,2013.0,58.1,1,4,D,B,A,C,E,1,5710,51,5,23,1
4,2010.0,2013.0,46.3,1,6,B,F,B,G,A,1,5710,51,5,24,1

In [8]:
tabela17=tabela17.loc[(tabela17['QE_I06'].notnull())]
tabela17=tabela17.loc[(tabela17['QE_I08'].notnull())]
tabela17=tabela17.loc[(tabela17['QE_I17'].notnull())]

tabela17['QE_I06'] = tabela17['QE_I06'].map({'A': 1, 'B': 2, 'C': 3, 'D': 4,'E': 5, 'F':6})
tabela17['QE_I08'] = tabela17['QE_I08'].map({'A': 1, 'B': 2, 'C': 3, 'D': 4,'E': 5,'F':6, 'G':7})
tabela17['QE_I17'] = tabela17['QE_I17'].map({'A': 1, 'B': 2, 'C': 3, 'D': 4,'E': 5,'F':6})

tabela17.head()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,52.6,1,6,1,2,2,H,H,1,5710,51,5,26,2
1,2013.0,2013.0,63.1,4,4,3,2,1,K,C,1,5710,51,5,23,2
2,2011.0,2013.0,33.7,4,6,2,6,2,A,E,1,5710,51,5,23,1
3,2011.0,2013.0,58.1,1,4,4,2,1,C,E,1,5710,51,5,23,1
4,2010.0,2013.0,46.3,1,6,2,6,2,G,A,1,5710,51,5,24,1

In [9]:
tabela17=tabela17.loc[(tabela17['QE_I20'].notnull())]
tabela17=tabela17.loc[(tabela17['QE_I25'].notnull())]

tabela17['QE_I20'] = tabela17['QE_I20'].map({'A': 1, 'B': 2, 'C': 3, 'D': 4,'E': 5, 'F':6, 'G':7, 'H':8, 'I':9, 'J':10, 'K':11})
tabela17['QE_I25'] = tabela17['QE_I25'].map({'A': 1, 'B': 2, 'C': 3, 'D': 4,'E': 5,'F':6,'G':7,'H':8})

tabela17.head()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
0,2007.0,2012.0,52.6,1,6,1,2,2,8,8,1,5710,51,5,26,2
1,2013.0,2013.0,63.1,4,4,3,2,1,11,3,1,5710,51,5,23,2
2,2011.0,2013.0,33.7,4,6,2,6,2,1,5,1,5710,51,5,23,1
3,2011.0,2013.0,58.1,1,4,4,2,1,3,5,1,5710,51,5,23,1
4,2010.0,2013.0,46.3,1,6,2,6,2,7,1,1,5710,51,5,24,1

In [10]:
#filtrar por curso

ccompb = tabela17[tabela17['CO_GRUPO']==4004]
ccompl =  tabela17[tabela17['CO_GRUPO']==4005]
engcomp = tabela17[tabela17['CO_GRUPO']==4003]
sistinf =  tabela17[tabela17['CO_GRUPO']==4006]
tads =  tabela17[tabela17['CO_GRUPO']==72]
tredes =  tabela17[tabela17['CO_GRUPO']==79]
tgti = tabela17[tabela17['CO_GRUPO']==6409]

ciência da computação bacharel

In [11]:
#masculino
masccompb = ccompb[ccompb['TP_SEXO']==1]
qmaccompb=masccompb['NT_GER'].count()
print("quant homens ccomp bacharel")
print(qmaccompb)

mmasccompb=masccompb['NT_GER'].mean()
print("media homens ccomp bacharel")
print(mmasccompb)

quant homens ccomp bacharel
7397
media homens ccomp bacharel
43.54317966743272

In [12]:
#feminino
femccompb = ccompb[ccompb['TP_SEXO']==2]
qfemccompb=femccompb['NT_GER'].count()
print("quant mulheres ccomp licenciatura")
print(qfemccompb)

mfemccompb=femccompb['NT_GER'].mean()
print("media mulheres ccomp bacharel")
print(mfemccompb)

quant mulheres ccomp licenciatura
1011
media mulheres ccomp bacharel
41.72551928783381

ciência da computação licenciatura

In [13]:
#masculino
masccompl = ccompl[ccompl['TP_SEXO']==1]
qmasccompl=masccompl['NT_GER'].count()
print("quant homens ccomp licenciatura")
print(qmasccompl)

mmasccompl=masccompl['NT_GER'].mean()
print("media homens ccomp licenciatura")
print(mmasccompl)

quant homens ccomp licenciatura
730
media homens ccomp licenciatura
41.91191780821916

In [14]:
#feminino
femccompl = ccompl[ccompl['TP_SEXO']==2]
qfemccompl=femccompl['NT_GER'].count()
print('quant mulheres ccomp licenciatura')
print(qfemccompl)

mfemccompl=femccompl['NT_GER'].mean()
print('media mulheres ccomp licenciatura')
print(mfemccompl)

quant mulheres ccomp licenciatura
350
media mulheres ccomp licenciatura
38.40942857142856

engenharia da computação

In [15]:
#masculino
mascengcomp = engcomp[engcomp['TP_SEXO']==1]
qmascengcomp=mascengcomp['NT_GER'].count()
print("quant homens engcomp")
print(qmascengcomp)

mmascengcomp=mascengcomp['NT_GER'].mean()
print("media homens engcomp")
print(mmascengcomp)

quant homens engcomp
3022
media homens engcomp
45.81522170747852

In [16]:
#feminino
femengcomp = engcomp[engcomp['TP_SEXO']==2]
qfemengcomp=femengcomp['NT_GER'].count()
print('quant mulheres engcomp')
print(qfemengcomp)

mfemengcomp=femengcomp['NT_GER'].mean()
print('media mulheres engcomp')
print(mfemengcomp)

quant mulheres engcomp
431
media mulheres engcomp
42.89814385150811

sistemas de informação

In [17]:
#masculino
mascsistinf = sistinf[sistinf['TP_SEXO']==1]
qmascsistinf=mascsistinf['NT_GER'].count()
print("quant homens sistinf")
print(qmascsistinf)

mmascsistinf=mascsistinf['NT_GER'].mean()
print("media homens sistinf")
print(mmascsistinf)

quant homens sistinf
9919
media homens sistinf
45.004637564270865

In [18]:
#feminino
femsistinf = sistinf[sistinf['TP_SEXO']==2]
qfemsistinf=femsistinf['NT_GER'].count()
print("quant mulheres sistinf")
print(qfemsistinf)

mfemsistinf=femsistinf['NT_GER'].mean()
print("media mulheres sistinf")
print(mfemsistinf)

quant mulheres sistinf
1983
media mulheres sistinf
43.42708018154312

In [129]:
mastads = tads[tads['TP_SEXO']==1]
Qmastads=mastads['NT_GER'].count()
Mmastads=mastads['NT_GER'].mean()
print("Quantidade de homens em tads")
print(Qmastads)
print("Media de nota homens em tads")
print(Mmastads)

Quantidade de homens em tads
8302
Media de nota homens em tads
40.33888219706107

In [130]:
femtads = tads[tads['TP_SEXO']==2]
Qfemtads=femtads['NT_GER'].count()
Mfemtads=femtads['NT_GER'].mean()
print("Quantidade de mulheres em tads")
print(Qfemtads)
print("Media de nota mulheres em tads")
print(Mfemtads)

Quantidade de mulheres em tads
1334
Media de nota mulheres em tads
39.597526236881556

In [44]:
mastredes = tredes[tredes['TP_SEXO']==1]
Qmastredes=mastredes['NT_GER'].count()
Mmastredes=mastredes['NT_GER'].mean()
print("Quantidade de homens em tredes")
print(Qmastredes)
print("Media de nota homens em tredes")
print(Mmastredes)

Quantidade de homens em tredes
2273
Media de nota homens em tredes
34.01007479102509

In [45]:
femtredes = tredes[tredes['TP_SEXO']==2]
Qfemtredes=femtredes['NT_GER'].count()
Mfemtredes=femtredes['NT_GER'].mean()
print("Quantidade de mulheres em tredes")
print(Qfemtredes)
print("Media de nota mulheres em tredes")
print(Mfemtredes)

Quantidade de mulheres em tredes
207
Media de nota mulheres em tredes
30.833333333333346

In [46]:
mastgti = tgti[tgti['TP_SEXO']==1]
Qmastgti=mastgti['NT_GER'].count()
Mmastgti=mastgti['NT_GER'].mean()
print("Quantidade de homens em tgti")
print(Qmastgti)
print("Media de nota homens em tgti")
print(Mmastgti)

Quantidade de homens em tgti
2673
Media de nota homens em tgti
45.8946127946129

In [47]:
femtgti = tgti[tgti['TP_SEXO']==2]
Qfemtgti=femtgti['NT_GER'].count()
Mfemtgti=femtgti['NT_GER'].mean()
print("Quantidade de mulheres em tgdi")
print(Qfemtgti)
print("Media de nota mulheres em tgdi")
print(Mfemtgti)

Quantidade de mulheres em tgdi
530
Media de nota mulheres em tgdi
43.61811320754722

<h3>juntando todos os cursos numa única variável</h3>

In [19]:
tabela17=tabela17.loc[(tabela17['CO_GRUPO'].notnull())]
tabela17['CO_GRUPO']=tabela17['CO_GRUPO'].map({4004: 1, 4005: 1, 4003: 1, 4006: 1, 72 : 1, 79 : 1, 6409:1})

ti = tabela17[tabela17['CO_GRUPO']==1]
ti.describe()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
count,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.000000,40162.0,40162.000000,40162.000000,40162.000000,40162.000000
mean,2008.539092,2013.313829,42.701305,2.190603,3.822967,2.290996,3.154151,1.596136,3.736891,3.756536,3.367238,1.0,34.241298,3.067576,26.678950,1.145560
std,5.229346,1.984003,13.543019,1.507531,1.224539,0.760019,1.511875,1.045554,2.980205,2.374225,1.561841,0.0,8.543333,0.928357,6.135044,0.352669
min,1962.000000,1993.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,11.000000,1.000000,17.000000,1.000000
25%,2007.000000,2012.000000,33.100000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.0,31.000000,3.000000,22.000000,1.000000
50%,2010.000000,2014.000000,42.200000,1.000000,4.000000,2.000000,3.000000,1.000000,3.000000,3.000000,4.000000,1.0,35.000000,3.000000,25.000000,1.000000
75%,2012.000000,2015.000000,51.900000,4.000000,5.000000,3.000000,4.000000,2.000000,7.000000,5.000000,5.000000,1.0,41.000000,4.000000,29.000000,1.000000
max,2017.000000,2017.000000,96.200000,6.000000,6.000000,6.000000,7.000000,6.000000,11.000000,8.000000,7.000000,1.0,53.000000,5.000000,73.000000,2.000000

tipo de sexo

In [20]:
mascti = ti[ti['TP_SEXO']==1]
qmascti=mascti['NT_GER'].count()
print("quant homens todos os cursos de ti")
print(qmascti)

mmascti=mascti['NT_GER'].mean()
print("media homens todos os cursos de ti")
print(mmascti)

quant homens todos os cursos de ti
34316
media homens todos os cursos de ti
42.90750087422776

In [21]:
femti = ti[ti['TP_SEXO']==2]
qfemti=femti['NT_GER'].count()
print("quant mulheres todos os cursos de ti  ")
print(qfemti)

mfemti=femti['NT_GER'].mean()
print("media mulheres todos os cursos de ti")
print(mfemti)

quant mulheres todos os cursos de ti
5846
media mulheres todos os cursos de ti
41.49093397194675

<h3>separando por região </h3>

NORTE

In [22]:
#masculino
nortemascti = mascti[mascti['CO_REGIAO_CURSO']==1]
qnortemascti=nortemascti['NT_GER'].count()
print("quant homens ti região NORTE")
print(qnortemascti)

mnortemascti=nortemascti['NT_GER'].mean()
print("media homens ti região NORTE")
print(mnortemascti)

quant homens ti região NORTE
1762
media homens ti região NORTE
40.323041997729824

In [23]:
#feminino
nortefemti = femti[femti['CO_REGIAO_CURSO']==1]
qnortefemti=nortefemti['NT_GER'].count()
print("quant mulheres ti região NORTE")
print(qnortefemti)

mnortefemti=nortefemti['NT_GER'].mean()
print("media mulheres ti região NORTE")
print(mnortefemti)

quant mulheres ti região NORTE
407
media mulheres ti região NORTE
38.382309582309574

NORDESTE

In [24]:
#masculino
nordestemascti = mascti[mascti['CO_REGIAO_CURSO']==2]
qnordestemascti=nordestemascti['NT_GER'].count()
print("quant homens ti região NORDESTE")
print(qnordestemascti)

mnordestemascti=nordestemascti['NT_GER'].mean()
print("media homens ti região NORDESTE")
print(mnordestemascti)

quant homens ti região NORDESTE
5495
media homens ti região NORDESTE
43.26422202001809

In [25]:
#feminino
nordestefemti = femti[femti['CO_REGIAO_CURSO']==2]
qnordestefemti=nordestefemti['NT_GER'].count()
print("quant mulheres ti região NORDESTE")
print(qnordestefemti)

mnordestefemti=nordestefemti['NT_GER'].mean()
print("media mulheres ti região NORDESTE")
print(mnordestefemti)

quant mulheres ti região NORDESTE
943
media mulheres ti região NORDESTE
41.58494167550372

SUDESTE

In [26]:
#masculino
sudestemascti = mascti[mascti['CO_REGIAO_CURSO']==3]
qsudestemascti=sudestemascti['NT_GER'].count()
print("quant homens ti região SUDESTE")
print(qsudestemascti)

msudestemascti=sudestemascti['NT_GER'].mean()
print("media homens ti região SUDESTE")
print(msudestemascti)

quant homens ti região SUDESTE
17958
media homens ti região SUDESTE
42.997204588484166

In [27]:
#feminino
sudestefemti = femti[femti['CO_REGIAO_CURSO']==3]
qsudestefemti=sudestefemti['NT_GER'].count()
print("quant mulheres ti região SUDESTE")
print(qsudestefemti)

msudestefemti=sudestefemti['NT_GER'].mean()
print("media mulheres ti região SUDESTE")
print(msudestefemti)

quant mulheres ti região SUDESTE
3203
media mulheres ti região SUDESTE
42.00849203871361

SUL

In [28]:
#masculino
sulmascti = mascti[mascti['CO_REGIAO_CURSO']==4]
qsulmascti=sulmascti['NT_GER'].count()
print("quant homens ti região SUL")
print(qsulmascti)

msulmascti=sulmascti['NT_GER'].mean()
print("media homens ti região SUL")
print(msulmascti)

quant homens ti região SUL
6494
media homens ti região SUL
43.96790883892829

In [29]:
#feminino
sulfemti = femti[femti['CO_REGIAO_CURSO']==4]
qsulfemti=sulfemti['NT_GER'].count()
print("quant mulheres ti região SUL")
print(qsulfemti)

msulfemti=sulfemti['NT_GER'].mean()
print("media mulheres ti região SUL")
print(msulfemti)

quant mulheres ti região SUL
804
media mulheres ti região SUL
43.39850746268657

CENTRO-OESTE

In [30]:
#masculino
centrooestemascti = mascti[mascti['CO_REGIAO_CURSO']==5]
qcentrooestemascti=centrooestemascti['NT_GER'].count()
print("quant homens ti região CENTRO-OESTE")
print(qcentrooestemascti)

mcentrooestemascti=centrooestemascti['NT_GER'].mean()
print("media homens ti região CENTRO-OESTE")
print(mcentrooestemascti)

quant homens ti região CENTRO-OESTE
2607
media homens ti região CENTRO-OESTE
40.642999616417335

In [31]:
#feminino
centrooestefemti = femti[femti['CO_REGIAO_CURSO']==5]
qcentrooestefemti=centrooestefemti['NT_GER'].count()
print("quant mulheres ti região CENTRO-OESTE")
print(qcentrooestefemti)

mcentrooestefemti=centrooestefemti['NT_GER'].mean()
print("media mulheres ti região CENTRO-OESTE")
print(mcentrooestefemti)

quant mulheres ti região CENTRO-OESTE
489
media mulheres ti região CENTRO-OESTE
37.370552147239266

<h3>COR OU RAÇA</h3>

In [32]:
md = mascti[mascti['QE_I02']==1]
md['NT_GER'].count()
md.describe()

,ANO_FIM_EM,ANO_IN_GRAD,NT_GER,QE_I02,QE_I05,QE_I06,QE_I08,QE_I17,QE_I20,QE_I25,CO_CATEGAD,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO
count,19538.000000,19538.000000,19538.000000,19538.0,19538.000000,19538.000000,19538.000000,19538.000000,19538.000000,19538.000000,19538.000000,19538.0,19538.000000,19538.000000,19538.000000,19538.0
mean,2008.559883,2013.263026,43.756341,1.0,3.943546,2.272955,3.434180,1.663118,3.581892,3.752789,3.452042,1.0,35.739994,3.230064,26.503429,1.0
std,5.220483,2.031529,13.744061,0.0,1.199135,0.750470,1.524733,1.065608,2.938045,2.313903,1.558364,0.0,7.247005,0.797603,6.011141,0.0
min,1973.000000,1997.000000,0.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,11.000000,1.000000,18.000000,1.0
25%,2007.000000,2012.000000,34.100000,1.0,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.0,33.000000,3.000000,22.000000,1.0
50%,2010.000000,2014.000000,43.200000,1.0,4.000000,2.000000,3.000000,1.000000,3.000000,3.000000,4.000000,1.0,35.000000,3.000000,25.000000,1.0
75%,2012.000000,2015.000000,53.200000,1.0,5.000000,3.000000,5.000000,2.000000,5.000000,5.000000,5.000000,1.0,41.000000,4.000000,29.000000,1.0
max,2016.000000,2017.000000,96.200000,1.0,6.000000,6.000000,7.000000,6.000000,11.000000,8.000000,7.000000,1.0,53.000000,5.000000,69.000000,1.0

<h3>feminino</h3>

In [33]:
#BRANCAS
md = femti[femti['QE_I02']==1]
cor=md['NT_GER'].count()
print(cor)

3092

In [34]:
#PRETAS

md = femti[femti['QE_I02']==2]
cor=md['NT_GER'].count()
print(cor)

535

In [35]:
#AMARELAS
md = femti[femti['QE_I02']==3]
cor=md['NT_GER'].count()
print(cor)

182

In [36]:
#PARDAS
md = femti[femti['QE_I02']==4]
cor=md['NT_GER'].count()
print(cor)

1889

In [37]:
#INDIGENAS
md = femti[femti['QE_I02']==5]
cor=md['NT_GER'].count()
print(cor)

19

In [38]:
#NÃO QUERO DECLARAR
md = femti[femti['QE_I02']==6]
cor=md['NT_GER'].count()
print(cor)

129

<h3>masculino</h3>

In [39]:
#BRANCOS
md = mascti[mascti['QE_I02']==1]
cor=md['NT_GER'].count()
print(cor)

19538

In [40]:
#PRETOS
md = mascti[mascti['QE_I02']==2]
cor=md['NT_GER'].count()
print(cor)

2647

In [41]:
#AMARELOS
md = mascti[mascti['QE_I02']==3]
cor=md['NT_GER'].count()
print(cor)

931

In [42]:
#PARDOS
md = mascti[mascti['QE_I02']==4]
cor=md['NT_GER'].count()
print(cor)

9925

In [43]:
#INDIGENAS
md = mascti[mascti['QE_I02']==5]
cor=md['NT_GER'].count()
print(cor)

129

In [44]:
#NAO QUERO DECLARAR
md = mascti[mascti['QE_I02']==6]
cor=md['NT_GER'].count()
print(cor)

1146

<h3>Escolorização da mãe</h3>
Até que etapa de escolarização sua mãe concluiu?

Mãe de pessoas do sexo feminino

In [45]:
#A = Nenhuma.
momf = femti[femti['QE_I05']==1]
momnonf =momf['QE_I05'].count()
print(momnonf)

125

In [46]:
#B = Ensino fundamental: 1º ao 5º ano (1ª a 4ª série).
momf = femti[femti['QE_I05']==2]
momfund1f =momf['QE_I05'].count()
print(momfund1f)

1116

In [47]:
#C = Ensino fundamental: 6º ao 9º ano (5ª a 8ª série).
momf = femti[femti['QE_I05']==3]
momfund2f =momf['QE_I05'].count()
print(momfund2f)

881

In [48]:
#D = Ensino médio.
momf = femti[femti['QE_I05']==4]
momemf =momf['QE_I05'].count()
print(momemf)

2272

In [49]:
#E = Ensino Superior - Graduação.
momf = femti[femti['QE_I05']==5]
momesf =momf['QE_I05'].count()
print(momesf)

950

In [50]:
#F = Pós-graduação.
momf = femti[femti['QE_I05']==6]
mompgradf =momf['QE_I05'].count()
print(mompgradf)

502

Mãe de pessoas do sexo masculino

In [51]:
#A = Nenhuma.
mom = mascti[mascti['QE_I05']==1]
momnon =mom['QE_I05'].count()
print(momnon)

650

In [52]:
#B = Ensino fundamental: 1º ao 5º ano (1ª a 4ª série).
mom = mascti[mascti['QE_I05']==2]
momfund1 =mom['QE_I05'].count()
print(momfund1)

5453

In [53]:
#C = Ensino fundamental: 6º ao 9º ano (5ª a 8ª série).
mom= mascti[mascti['QE_I05']==3]
momfund2 =mom['QE_I05'].count()
print(momfund2)

5388

In [54]:
#D = Ensino médio.
mom = mascti[mascti['QE_I05']==4]
momem =mom['QE_I05'].count()
print(momem)

13324

In [55]:
#E = Ensino Superior - Graduação.
mom = mascti[mascti['QE_I05']==5]
momes =mom['QE_I05'].count()
print(momes)

6334

In [56]:
#F = Pós-graduação.
mom = mascti[mascti['QE_I05']==6]
mompgrad =mom['QE_I05'].count()
print(mompgrad)

3167

<h3>Em que tipo de escola você cursou o ensino médio?</h3>

feminino

In [57]:
#A = Todo em escola pública.
totpub = femti[femti['QE_I17']==1]
pubf =totpub['QE_I17'].count()
print(pubf)

4008

In [58]:
#B = Todo em escola privada (particular).
totpriv = femti[femti['QE_I17']==2]
privf =totpriv['QE_I17'].count()
print(privf)

1416

In [59]:
#C = Todo no exterior.
totext = femti[femti['QE_I17']==3]
extf =totext['QE_I17'].count()
print(extf)

7

In [60]:
#D = A maior parte em escola pública.
mppub = femti[femti['QE_I17']==4]
mppubf =mppub['QE_I17'].count()
print(mppubf)

219

In [61]:
#E = A maior parte em escola privada (particular).
mppriv = femti[femti['QE_I17']==5]
mpprivf =mppriv['QE_I17'].count()
print(mpprivf)

187

In [62]:
#F = Parte no Brasil e parte no exterior.
mpext = femti[femti['QE_I17']==6]
mpextf =mpext['QE_I17'].count()
print(mpextf)

9

masculino

In [63]:
#A = Todo em escola pública.
totpub = mascti[mascti['QE_I17']==1]
pub =totpub['QE_I17'].count()
print(pub)

21715

In [64]:
#B = Todo em escola privada (particular).
totpriv = mascti[mascti['QE_I17']==2]
priv =totpriv['QE_I17'].count()
print(priv)

9178

In [65]:
#C = Todo no exterior.
totext = mascti[mascti['QE_I17']==3]
ext =totext['QE_I17'].count()
print(ext)

57

In [66]:
#D = A maior parte em escola pública.
mppub = mascti[mascti['QE_I17']==4]
mppub =mppub['QE_I17'].count()
print(mppub)

1764

In [67]:
#E = A maior parte em escola privada (particular).
mppriv = mascti[mascti['QE_I17']==5]
mppriv =mppriv['QE_I17'].count()
print(mppriv)

1532

In [68]:
#F = Parte no Brasil e parte no exterior.
mpext = mascti[mascti['QE_I17']==6]
mpext =mpext['QE_I17'].count()
print(mpext)

70

<h3> Renda Familiar Mulheres</h3>

In [70]:
rd=femti[femti['QE_I08']==1]
rend=rd['NT_GER'].count()
print(rend)

1099

In [71]:
rd=femti[femti['QE_I08']==1]
rend=rd['NT_GER'].count()
print(rend)

1099

In [72]:
rd=femti[femti['QE_I08']==2]
rend=rd['NT_GER'].count()
print(rend)

1700

In [73]:
rd=femti[femti['QE_I08']==3]
rend=rd['NT_GER'].count()
print(rend)

1357

In [74]:
rd=femti[femti['QE_I08']==4]
rend=rd['NT_GER'].count()
print(rend)

696

In [75]:
rd=femti[femti['QE_I08']==5]
rend=rd['NT_GER'].count()
print(rend)

653

In [76]:
rd=femti[femti['QE_I08']==6]
rend=rd['NT_GER'].count()
print(rend)

315

In [77]:
rd=femti[femti['QE_I08']==7]
rend=rd['NT_GER'].count()
print(rend)

26

<h3> Renda familiar dos homens </h3>

In [78]:
rd=mascti[mascti['QE_I08']==1]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==2]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==3]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==4]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==5]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==6]
rend=rd['NT_GER'].count()
print(rend)

rd=mascti[mascti['QE_I08']==7]
rend=rd['NT_GER'].count()
print(rend)

4286
8751
8338
4788
5120
2799
234

<h3>Enfrentar dificuldades Mulheres </h3>

In [79]:
d=femti[femti['QE_I20']==1]
dif=d['NT_GER'].count()
print(dif)

1389

In [80]:
d=femti[femti['QE_I20']==2]
dif=d['NT_GER'].count()
print(dif)

382

In [81]:
d=femti[femti['QE_I20']==3]
dif=d['NT_GER'].count()
print(dif)

2308

In [82]:
d=femti[femti['QE_I20']==4]
dif=d['NT_GER'].count()
print(dif)

88

In [83]:
d=femti[femti['QE_I20']==5]
dif=d['NT_GER'].count()
print(dif)

133

In [84]:
d=femti[femti['QE_I20']==6]
dif=d['NT_GER'].count()
print(dif)

8

In [85]:
d=femti[femti['QE_I20']==7]
dif=d['NT_GER'].count()
print(dif)

779

In [86]:
d=femti[femti['QE_I20']==8]
dif=d['NT_GER'].count()
print(dif)

319

In [87]:
d=femti[femti['QE_I20']==9]
dif=d['NT_GER'].count()
print(dif)

24

In [88]:
d=femti[femti['QE_I20']==10]
dif=d['NT_GER'].count()
print(dif)

63

In [89]:
d=femti[femti['QE_I20']==11]
dif=d['NT_GER'].count()
print(dif)

353

<h3> dificuldades homens</h3>

In [90]:
d=mascti[mascti['QE_I20']==1]
dif=d['NT_GER'].count()
print(dif)

10346

In [91]:
d=mascti[mascti['QE_I20']==2]
dif=d['NT_GER'].count()
print(dif)

3279

In [92]:
d=mascti[mascti['QE_I20']==3]
dif=d['NT_GER'].count()
print(dif)

11129

In [93]:
d=mascti[mascti['QE_I20']==4]
dif=d['NT_GER'].count()
print(dif)

358

In [94]:
d=mascti[mascti['QE_I20']==5]
dif=d['NT_GER'].count()
print(dif)

591

In [95]:
d=mascti[mascti['QE_I20']==6]
dif=d['NT_GER'].count()
print(dif)

109

In [96]:
d=mascti[mascti['QE_I20']==7]
dif=d['NT_GER'].count()
print(dif)

3814

In [97]:
d=mascti[mascti['QE_I20']==8]
dif=d['NT_GER'].count()
print(dif)

1897

In [98]:
d=mascti[mascti['QE_I20']==9]
dif=d['NT_GER'].count()
print(dif)

92

In [99]:
d=mascti[mascti['QE_I20']==10]
dif=d['NT_GER'].count()
print(dif)

540

In [100]:
d=mascti[mascti['QE_I20']==11]
dif=d['NT_GER'].count()
print(dif)

2161

<h3> Motivo para escolher o curso mulheres </h3>

In [101]:
m=femti[femti['QE_I25']==1]
mot=m['NT_GER'].count()
print(mot)

2148

In [102]:
m=femti[femti['QE_I25']==2]
mot=m['NT_GER'].count()
print(mot)

391

In [103]:
m=femti[femti['QE_I25']==3]
mot=m['NT_GER'].count()
print(mot)

916

In [104]:
m=femti[femti['QE_I25']==4]
mot=m['NT_GER'].count()
print(mot)

18

In [105]:
m=femti[femti['QE_I25']==5]
mot=m['NT_GER'].count()
print(mot)

1179

In [106]:
m=femti[femti['QE_I25']==6]
mot=m['NT_GER'].count()
print(mot)

88

In [107]:
m=femti[femti['QE_I25']==7]
mot=m['NT_GER'].count()
print(mot)

66

In [108]:
m=femti[femti['QE_I25']==8]
mot=m['NT_GER'].count()
print(mot)

1040

<h3> Motivos para escolher o curso homens</h3>

In [109]:
m=mascti[mascti['QE_I25']==1]
mot=m['NT_GER'].count()
print(mot)

10132

In [110]:
m=mascti[mascti['QE_I25']==2]
mot=m['NT_GER'].count()
print(mot)

1210

In [111]:
m=mascti[mascti['QE_I25']==3]
mot=m['NT_GER'].count()
print(mot)

5770

In [112]:
m=mascti[mascti['QE_I25']==4]
mot=m['NT_GER'].count()
print(mot)

169

In [113]:
m=mascti[mascti['QE_I25']==5]
mot=m['NT_GER'].count()
print(mot)

11839

In [114]:
m=mascti[mascti['QE_I25']==6]
mot=m['NT_GER'].count()
print(mot)

559

In [115]:
m=mascti[mascti['QE_I25']==7]
mot=m['NT_GER'].count()
print(mot)

268

In [116]:
m=mascti[mascti['QE_I25']==8]
mot=m['NT_GER'].count()
print(mot)

4369

<h3> com quem mora mulheres</h3>

In [117]:
v=femti[femti['QE_I06']==1]
viv=v['NT_GER'].count()
print(viv)

443

In [118]:
v=femti[femti['QE_I06']==2]
viv=v['NT_GER'].count()
print(viv)

3863

In [119]:
v=femti[femti['QE_I06']==3]
viv=v['NT_GER'].count()
print(viv)

1101

In [120]:
v=femti[femti['QE_I06']==4]
viv=v['NT_GER'].count()
print(viv)

383

In [121]:
v=femti[femti['QE_I06']==5]
viv=v['NT_GER'].count()
print(viv)

13

In [122]:
v=femti[femti['QE_I06']==6]
viv=v['NT_GER'].count()
print(viv)

43

<h3> Com quem mora homens</h3>

In [123]:
v=mascti[mascti['QE_I06']==1]
viv=v['NT_GER'].count()
print(viv)

2727

In [124]:
v=mascti[mascti['QE_I06']==2]
viv=v['NT_GER'].count()
print(viv)

21675

In [125]:
v=mascti[mascti['QE_I06']==3]
viv=v['NT_GER'].count()
print(viv)

7573

In [126]:
v=mascti[mascti['QE_I06']==4]
viv=v['NT_GER'].count()
print(viv)

2034

In [127]:
v=mascti[mascti['QE_I06']==5]
viv=v['NT_GER'].count()
print(viv)

90

In [128]:
v=mascti[mascti['QE_I06']==6]
viv=v['NT_GER'].count()
print(viv)

217